<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_57d6777f487441578c777c34be276466 {
                    position: relative;
                    width: 75.0%;
                    height: 75.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_57d6777f487441578c777c34be276466" ></div>
        
</body>
<script>    
    
            var map_57d6777f487441578c777c34be276466 = L.map(
                "map_57d6777f487441578c777c34be276466",
                {
                    center: [45.25167, 19.83694],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6739a6af37dc426d94e258aae64c85ad = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
            var marker_e3ec028a1e85400baf51116c16298327 = L.marker(
                [45.2528535063, 19.8475593745],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_582409d2cd944ffa941b1ecac398ccd2 = L.popup({"maxWidth": "100%"});

        
            var html_a48b339355dd4c75b30f4e3ed0f320a3 = $(`<div id="html_a48b339355dd4c75b30f4e3ed0f320a3" style="width: 100.0%; height: 100.0%;">ŽARKA ZRENJANINA - IZVRŠNO VEĆE</div>`)[0];
            popup_582409d2cd944ffa941b1ecac398ccd2.setContent(html_a48b339355dd4c75b30f4e3ed0f320a3);
        

        marker_e3ec028a1e85400baf51116c16298327.bindPopup(popup_582409d2cd944ffa941b1ecac398ccd2)
        ;

        
    
    
            marker_e3ec028a1e85400baf51116c16298327.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9f22ec88f7cc4d9fa3a15e2b674a1e69 = L.marker(
                [45.2525866389, 19.8678103709],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_7bca45e03b5c458e936dece9ebaf2bab = L.popup({"maxWidth": "100%"});

        
            var html_e55a5bc110eb4fc98050c917de4c8cf8 = $(`<div id="html_e55a5bc110eb4fc98050c917de4c8cf8" style="width: 100.0%; height: 100.0%;">PRERADOVIĆEVA - LOVAČKI DOM</div>`)[0];
            popup_7bca45e03b5c458e936dece9ebaf2bab.setContent(html_e55a5bc110eb4fc98050c917de4c8cf8);
        

        marker_9f22ec88f7cc4d9fa3a15e2b674a1e69.bindPopup(popup_7bca45e03b5c458e936dece9ebaf2bab)
        ;

        
    
    
            marker_9f22ec88f7cc4d9fa3a15e2b674a1e69.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15bd8c2237884dfea58e2ec893191507 = L.marker(
                [45.2516407374, 19.8727083512],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_7b05e022ab8f4650814d3be13c675337 = L.popup({"maxWidth": "100%"});

        
            var html_0944e456cc0e497a801f2f892afb8655 = $(`<div id="html_0944e456cc0e497a801f2f892afb8655" style="width: 100.0%; height: 100.0%;">PRERADOVIĆEVA - O.Š. JOVAN DUČIĆ</div>`)[0];
            popup_7b05e022ab8f4650814d3be13c675337.setContent(html_0944e456cc0e497a801f2f892afb8655);
        

        marker_15bd8c2237884dfea58e2ec893191507.bindPopup(popup_7b05e022ab8f4650814d3be13c675337)
        ;

        
    
    
            marker_15bd8c2237884dfea58e2ec893191507.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f81ad6b8785f4e8bbee5465d9b654940 = L.marker(
                [45.2547734365, 19.8620128358],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_5383c2d6347f4eca8974d83cfb72653b = L.popup({"maxWidth": "100%"});

        
            var html_074ac6177715425caa5de5b6a86557f5 = $(`<div id="html_074ac6177715425caa5de5b6a86557f5" style="width: 100.0%; height: 100.0%;">BEOGRADSKA - LISINSKOG</div>`)[0];
            popup_5383c2d6347f4eca8974d83cfb72653b.setContent(html_074ac6177715425caa5de5b6a86557f5);
        

        marker_f81ad6b8785f4e8bbee5465d9b654940.bindPopup(popup_5383c2d6347f4eca8974d83cfb72653b)
        ;

        
    
    
            marker_f81ad6b8785f4e8bbee5465d9b654940.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_79ab294a88d343ab9f438a9399d74dea = L.marker(
                [45.2545506888, 19.8353175469],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_8640149ff55140f3ac9df36d018fc18f = L.popup({"maxWidth": "100%"});

        
            var html_35eca965f8804c009e4c8523ced37c46 = $(`<div id="html_35eca965f8804c009e4c8523ced37c46" style="width: 100.0%; height: 100.0%;">BUL. OSLOBOÐENJA - NOVOSADSKOG SAJMA</div>`)[0];
            popup_8640149ff55140f3ac9df36d018fc18f.setContent(html_35eca965f8804c009e4c8523ced37c46);
        

        marker_79ab294a88d343ab9f438a9399d74dea.bindPopup(popup_8640149ff55140f3ac9df36d018fc18f)
        ;

        
    
    
            marker_79ab294a88d343ab9f438a9399d74dea.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2a2439f627e4577b9eb33404c64c5c0 = L.marker(
                [45.2488624702, 19.8431913572],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_a6abc68873e44e5dae2965bceabdb583 = L.popup({"maxWidth": "100%"});

        
            var html_c4eccabfd7604498b100e3b9f422dab3 = $(`<div id="html_c4eccabfd7604498b100e3b9f422dab3" style="width: 100.0%; height: 100.0%;">MAKSIMA GORKOG - SPENS</div>`)[0];
            popup_a6abc68873e44e5dae2965bceabdb583.setContent(html_c4eccabfd7604498b100e3b9f422dab3);
        

        marker_b2a2439f627e4577b9eb33404c64c5c0.bindPopup(popup_a6abc68873e44e5dae2965bceabdb583)
        ;

        
    
    
            marker_b2a2439f627e4577b9eb33404c64c5c0.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c936e0f725f4a6fb967effaf53dabee = L.marker(
                [45.2647056244, 19.8294363876],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_7af758b5fd964101828553b513c11da5 = L.popup({"maxWidth": "100%"});

        
            var html_eed446a687a241e6bb412f5289e60d2f = $(`<div id="html_eed446a687a241e6bb412f5289e60d2f" style="width: 100.0%; height: 100.0%;">ŽELEZNIČKA STANICA</div>`)[0];
            popup_7af758b5fd964101828553b513c11da5.setContent(html_eed446a687a241e6bb412f5289e60d2f);
        

        marker_9c936e0f725f4a6fb967effaf53dabee.bindPopup(popup_7af758b5fd964101828553b513c11da5)
        ;

        
    
    
            marker_9c936e0f725f4a6fb967effaf53dabee.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b61be145f9b840a3851ae15265281205 = L.marker(
                [45.2480202534, 19.839720893],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_9dfd6fe7d8ac4b1f8d4b49ff8e611a8f = L.popup({"maxWidth": "100%"});

        
            var html_4b59b37fb35f4bdd80a60315f68b52a4 = $(`<div id="html_4b59b37fb35f4bdd80a60315f68b52a4" style="width: 100.0%; height: 100.0%;">MAKSIMA GORKOG - BUL.OSLOBOĐENJA</div>`)[0];
            popup_9dfd6fe7d8ac4b1f8d4b49ff8e611a8f.setContent(html_4b59b37fb35f4bdd80a60315f68b52a4);
        

        marker_b61be145f9b840a3851ae15265281205.bindPopup(popup_9dfd6fe7d8ac4b1f8d4b49ff8e611a8f)
        ;

        
    
    
            marker_b61be145f9b840a3851ae15265281205.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_491aabb831c943c290243d092a6dbc88 = L.marker(
                [45.2542765403, 19.8530960428],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_a24d14c675364653ab40b5be00c4c3e1 = L.popup({"maxWidth": "100%"});

        
            var html_28180c255cc74c26a8b03aa587225abf = $(`<div id="html_28180c255cc74c26a8b03aa587225abf" style="width: 100.0%; height: 100.0%;">BUL. MIHAJLA PUPINA - SONJE MARINKOVIĆ</div>`)[0];
            popup_a24d14c675364653ab40b5be00c4c3e1.setContent(html_28180c255cc74c26a8b03aa587225abf);
        

        marker_491aabb831c943c290243d092a6dbc88.bindPopup(popup_a24d14c675364653ab40b5be00c4c3e1)
        ;

        
    
    
            marker_491aabb831c943c290243d092a6dbc88.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aba279310d324ddb8292e6a345eea235 = L.marker(
                [45.2397771125, 19.8663045281],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_e7051b27bf8a4904b952a85061cebe0c = L.popup({"maxWidth": "100%"});

        
            var html_75ea5743727f490195ea70503bd02f7c = $(`<div id="html_75ea5743727f490195ea70503bd02f7c" style="width: 100.0%; height: 100.0%;">KAMENIČKI PUT - TRANDŽAMENT</div>`)[0];
            popup_e7051b27bf8a4904b952a85061cebe0c.setContent(html_75ea5743727f490195ea70503bd02f7c);
        

        marker_aba279310d324ddb8292e6a345eea235.bindPopup(popup_e7051b27bf8a4904b952a85061cebe0c)
        ;

        
    
    
            marker_aba279310d324ddb8292e6a345eea235.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c6c8bf562d64939a83585d6fdd47b80 = L.marker(
                [45.2370775829, 19.8637483134],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_a15370d32690463981d5f7412dd2555d = L.popup({"maxWidth": "100%"});

        
            var html_8a063ba81a2643a6a5a93eac56ddce4a = $(`<div id="html_8a063ba81a2643a6a5a93eac56ddce4a" style="width: 100.0%; height: 100.0%;">KAMENIČKI PUT - RIBNJAK GORNJI PUT</div>`)[0];
            popup_a15370d32690463981d5f7412dd2555d.setContent(html_8a063ba81a2643a6a5a93eac56ddce4a);
        

        marker_4c6c8bf562d64939a83585d6fdd47b80.bindPopup(popup_a15370d32690463981d5f7412dd2555d)
        ;

        
    
    
            marker_4c6c8bf562d64939a83585d6fdd47b80.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_13d2095e458446f5b70efbed94c96132 = L.marker(
                [45.2325391031, 19.8588026936],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_64578f1a75644af9835e2a48c6f0dd6d = L.popup({"maxWidth": "100%"});

        
            var html_00a7c338540544cbabfc6f890195ced1 = $(`<div id="html_00a7c338540544cbabfc6f890195ced1" style="width: 100.0%; height: 100.0%;">KAMENIČKI PUT - RTV "NOVI SAD"</div>`)[0];
            popup_64578f1a75644af9835e2a48c6f0dd6d.setContent(html_00a7c338540544cbabfc6f890195ced1);
        

        marker_13d2095e458446f5b70efbed94c96132.bindPopup(popup_64578f1a75644af9835e2a48c6f0dd6d)
        ;

        
    
    
            marker_13d2095e458446f5b70efbed94c96132.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a3af4ef31ca43e98870062328971c0e = L.marker(
                [45.2228156939, 19.8443834126],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_51493d365fb7457497b4ed6532e34c15 = L.popup({"maxWidth": "100%"});

        
            var html_fc34ed951d92444785bea5f9cc3f2cc8 = $(`<div id="html_fc34ed951d92444785bea5f9cc3f2cc8" style="width: 100.0%; height: 100.0%;">SR.KAMENICA - ŽELEZNIČKA - MUZEJ</div>`)[0];
            popup_51493d365fb7457497b4ed6532e34c15.setContent(html_fc34ed951d92444785bea5f9cc3f2cc8);
        

        marker_5a3af4ef31ca43e98870062328971c0e.bindPopup(popup_51493d365fb7457497b4ed6532e34c15)
        ;

        
    
    
            marker_5a3af4ef31ca43e98870062328971c0e.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1113fa7cc25c4544a38bd7b72e6727e2 = L.marker(
                [45.2215936729, 19.8485735281],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_9c5156d7757841b18422232ad63dc754 = L.popup({"maxWidth": "100%"});

        
            var html_e26396bfd5c54816a4880d21223e2160 = $(`<div id="html_e26396bfd5c54816a4880d21223e2160" style="width: 100.0%; height: 100.0%;">MOŠE PIJADE - SŠUP SR. KAMENICA</div>`)[0];
            popup_9c5156d7757841b18422232ad63dc754.setContent(html_e26396bfd5c54816a4880d21223e2160);
        

        marker_1113fa7cc25c4544a38bd7b72e6727e2.bindPopup(popup_9c5156d7757841b18422232ad63dc754)
        ;

        
    
    
            marker_1113fa7cc25c4544a38bd7b72e6727e2.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66be681e067e44c596da908b2ca0ef18 = L.marker(
                [45.2179545299, 19.8522159283],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_55febb304ede48ed896ed6fadb879290 = L.popup({"maxWidth": "100%"});

        
            var html_4b63264aad4e43ec81a8d46e17b91209 = $(`<div id="html_4b63264aad4e43ec81a8d46e17b91209" style="width: 100.0%; height: 100.0%;">MAJORA TEPIĆA - MARKA OREŠKOVIĆA</div>`)[0];
            popup_55febb304ede48ed896ed6fadb879290.setContent(html_4b63264aad4e43ec81a8d46e17b91209);
        

        marker_66be681e067e44c596da908b2ca0ef18.bindPopup(popup_55febb304ede48ed896ed6fadb879290)
        ;

        
    
    
            marker_66be681e067e44c596da908b2ca0ef18.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c864f33871f84844ae5bd2d4e8f02fa8 = L.marker(
                [45.212298367, 19.8520212543],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_c43e70e4fd8040a0a46bb368fce0d6f5 = L.popup({"maxWidth": "100%"});

        
            var html_1d8b6274380d4782be3396213cee09e6 = $(`<div id="html_1d8b6274380d4782be3396213cee09e6" style="width: 100.0%; height: 100.0%;">MAJORA TEPIĆA - NADVOŽNJAK</div>`)[0];
            popup_c43e70e4fd8040a0a46bb368fce0d6f5.setContent(html_1d8b6274380d4782be3396213cee09e6);
        

        marker_c864f33871f84844ae5bd2d4e8f02fa8.bindPopup(popup_c43e70e4fd8040a0a46bb368fce0d6f5)
        ;

        
    
    
            marker_c864f33871f84844ae5bd2d4e8f02fa8.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c748ccbafc141638a83b2adcba5b5f5 = L.marker(
                [45.211851059, 19.8492496488],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_e2fecd59b41344fca33feb85cec8abf4 = L.popup({"maxWidth": "100%"});

        
            var html_a705e9b1124e48b6aba498243ad24911 = $(`<div id="html_a705e9b1124e48b6aba498243ad24911" style="width: 100.0%; height: 100.0%;">KAMENICA - ČARDAK - OKRETNICA</div>`)[0];
            popup_e2fecd59b41344fca33feb85cec8abf4.setContent(html_a705e9b1124e48b6aba498243ad24911);
        

        marker_3c748ccbafc141638a83b2adcba5b5f5.bindPopup(popup_e2fecd59b41344fca33feb85cec8abf4)
        ;

        
    
    
            marker_3c748ccbafc141638a83b2adcba5b5f5.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2896204472fe45f3b494dcfc7db1b422 = L.marker(
                [45.2601777537, 19.8322222835],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_96c60049c891446faa5f6986755d9af6 = L.popup({"maxWidth": "100%"});

        
            var html_7104a21d513f4b809edaebdcf16e572a = $(`<div id="html_7104a21d513f4b809edaebdcf16e572a" style="width: 100.0%; height: 100.0%;">BUL. OSLOBOĐENJA - KRALJA PETRA I</div>`)[0];
            popup_96c60049c891446faa5f6986755d9af6.setContent(html_7104a21d513f4b809edaebdcf16e572a);
        

        marker_2896204472fe45f3b494dcfc7db1b422.bindPopup(popup_96c60049c891446faa5f6986755d9af6)
        ;

        
    
    
            marker_2896204472fe45f3b494dcfc7db1b422.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4da4fcee3ea3433594b72a1ef33cbe68 = L.marker(
                [45.2514514442, 19.8370753816],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_38bf244ce5bf40ae801059da9e184c99 = L.popup({"maxWidth": "100%"});

        
            var html_4687adf3c3364ca28eed6e8c179fbf0d = $(`<div id="html_4687adf3c3364ca28eed6e8c179fbf0d" style="width: 100.0%; height: 100.0%;">BUL. OSLOBOĐENJA - FUTOŠKA</div>`)[0];
            popup_38bf244ce5bf40ae801059da9e184c99.setContent(html_4687adf3c3364ca28eed6e8c179fbf0d);
        

        marker_4da4fcee3ea3433594b72a1ef33cbe68.bindPopup(popup_38bf244ce5bf40ae801059da9e184c99)
        ;

        
    
    
            marker_4da4fcee3ea3433594b72a1ef33cbe68.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce4e229503144bc5a48c7a67c3eb14a0 = L.marker(
                [45.2257504705, 19.8481049154],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_d7ab1386168041f480e277001e77cb91 = L.popup({"maxWidth": "100%"});

        
            var html_8299ddb276a34f26bc2d4b3998a1c8a1 = $(`<div id="html_8299ddb276a34f26bc2d4b3998a1c8a1" style="width: 100.0%; height: 100.0%;">SR. KAMENICA - PETRA KOČIĆA</div>`)[0];
            popup_d7ab1386168041f480e277001e77cb91.setContent(html_8299ddb276a34f26bc2d4b3998a1c8a1);
        

        marker_ce4e229503144bc5a48c7a67c3eb14a0.bindPopup(popup_d7ab1386168041f480e277001e77cb91)
        ;

        
    
    
            marker_ce4e229503144bc5a48c7a67c3eb14a0.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5eb429d9ba94451485be83adc6fe8686 = L.marker(
                [45.245, 19.8709],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_d3a03648993c4e2ea8834647961f992f = L.popup({"maxWidth": "100%"});

        
            var html_abaff29867914ab3bd0caa9c17109e08 = $(`<div id="html_abaff29867914ab3bd0caa9c17109e08" style="width: 100.0%; height: 100.0%;">DUNAVSKE DIVIZIJE - KASARNA</div>`)[0];
            popup_d3a03648993c4e2ea8834647961f992f.setContent(html_abaff29867914ab3bd0caa9c17109e08);
        

        marker_5eb429d9ba94451485be83adc6fe8686.bindPopup(popup_d3a03648993c4e2ea8834647961f992f)
        ;

        
    
    
            marker_5eb429d9ba94451485be83adc6fe8686.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b912609c8bc4aaa9b585d09ac3b0db6 = L.marker(
                [45.227563923, 19.8520544672],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_79927d12c89046e5888113253cba131d = L.popup({"maxWidth": "100%"});

        
            var html_3d5bb98cb6624a9782dd05b284236b25 = $(`<div id="html_3d5bb98cb6624a9782dd05b284236b25" style="width: 100.0%; height: 100.0%;">SR. KAMENICA - UNIVERZITET</div>`)[0];
            popup_79927d12c89046e5888113253cba131d.setContent(html_3d5bb98cb6624a9782dd05b284236b25);
        

        marker_4b912609c8bc4aaa9b585d09ac3b0db6.bindPopup(popup_79927d12c89046e5888113253cba131d)
        ;

        
    
    
            marker_4b912609c8bc4aaa9b585d09ac3b0db6.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2dcc22f96cde442694cc5e2027a48c51 = L.marker(
                [45.2601777537, 19.8322222835],
                {}
            ).addTo(map_57d6777f487441578c777c34be276466);
        
    
        var popup_e3b1c497f7c44da0a9dc89d03067ee1c = L.popup({"maxWidth": "100%"});

        
            var html_ee463e1f8f504b91ae54d7d6a708bd68 = $(`<div id="html_ee463e1f8f504b91ae54d7d6a708bd68" style="width: 100.0%; height: 100.0%;">BUL. OSLOBOĐENJA - KRALJA PETRA I</div>`)[0];
            popup_e3b1c497f7c44da0a9dc89d03067ee1c.setContent(html_ee463e1f8f504b91ae54d7d6a708bd68);
        

        marker_2dcc22f96cde442694cc5e2027a48c51.bindPopup(popup_e3b1c497f7c44da0a9dc89d03067ee1c)
        ;

        
    
    
            marker_2dcc22f96cde442694cc5e2027a48c51.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
</script>