<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_52de8f256adf436699ccb9b22ec2f97b {
                    position: relative;
                    width: 75.0%;
                    height: 75.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_52de8f256adf436699ccb9b22ec2f97b" ></div>
        
</body>
<script>    
    
            var map_52de8f256adf436699ccb9b22ec2f97b = L.map(
                "map_52de8f256adf436699ccb9b22ec2f97b",
                {
                    center: [45.25167, 19.83694],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_371fb4a4843843cdadbea57f4e7dccb6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
            var marker_d69397990fa1483a8b4c4e993587869f = L.marker(
                [45.255203707, 19.8416504854],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_a958baaaa1754fd88d9e5f6472cb1342 = L.popup({"maxWidth": "100%"});

        
            var html_d50d23f6dfd848679494c03f69dbc3ff = $(`<div id="html_d50d23f6dfd848679494c03f69dbc3ff" style="width: 100.0%; height: 100.0%;">USPENSKA - ŠAFARIKOVA</div>`)[0];
            popup_a958baaaa1754fd88d9e5f6472cb1342.setContent(html_d50d23f6dfd848679494c03f69dbc3ff);
        

        marker_d69397990fa1483a8b4c4e993587869f.bindPopup(popup_a958baaaa1754fd88d9e5f6472cb1342)
        ;

        
    
    
            marker_d69397990fa1483a8b4c4e993587869f.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0d35851dc4d44118471be15baa7c527 = L.marker(
                [45.253337, 19.844187],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_c1453553188d43b7a64181997328c25c = L.popup({"maxWidth": "100%"});

        
            var html_5a10f52b2e9449ef9b7fdd7031ca9c53 = $(`<div id="html_5a10f52b2e9449ef9b7fdd7031ca9c53" style="width: 100.0%; height: 100.0%;">BUL. MIHAJLA PUPINA - POTHODNIK</div>`)[0];
            popup_c1453553188d43b7a64181997328c25c.setContent(html_5a10f52b2e9449ef9b7fdd7031ca9c53);
        

        marker_c0d35851dc4d44118471be15baa7c527.bindPopup(popup_c1453553188d43b7a64181997328c25c)
        ;

        
    
    
            marker_c0d35851dc4d44118471be15baa7c527.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f1d9b97a8f8c4cb3bb2da9b96f87d526 = L.marker(
                [45.2524025428, 19.8471827488],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_7790b5c2aa7b4f3c8e52edcb7061c2c1 = L.popup({"maxWidth": "100%"});

        
            var html_d418513e07fb48b5803490462e25b06b = $(`<div id="html_d418513e07fb48b5803490462e25b06b" style="width: 100.0%; height: 100.0%;">ŽARKA ZRENJANINA - OPŠTINA</div>`)[0];
            popup_7790b5c2aa7b4f3c8e52edcb7061c2c1.setContent(html_d418513e07fb48b5803490462e25b06b);
        

        marker_f1d9b97a8f8c4cb3bb2da9b96f87d526.bindPopup(popup_7790b5c2aa7b4f3c8e52edcb7061c2c1)
        ;

        
    
    
            marker_f1d9b97a8f8c4cb3bb2da9b96f87d526.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_93108767a3d6443c978025291f46cc27 = L.marker(
                [45.2474414598, 19.8488525074],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_f4820ecaadf948698361bc2379f8ef1a = L.popup({"maxWidth": "100%"});

        
            var html_9bb22bc87b12405ab2434556b9ccbff9 = $(`<div id="html_9bb22bc87b12405ab2434556b9ccbff9" style="width: 100.0%; height: 100.0%;">BUL. CARA LAZARA - URBIS</div>`)[0];
            popup_f4820ecaadf948698361bc2379f8ef1a.setContent(html_9bb22bc87b12405ab2434556b9ccbff9);
        

        marker_93108767a3d6443c978025291f46cc27.bindPopup(popup_f4820ecaadf948698361bc2379f8ef1a)
        ;

        
    
    
            marker_93108767a3d6443c978025291f46cc27.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58527b4aa4f54e1a879ad4eb935019ef = L.marker(
                [45.2420582997, 19.8475310279],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_ba10975a5a024a6e9c0d7c418733df2d = L.popup({"maxWidth": "100%"});

        
            var html_fbebedd1fb744389902860f1c10dadca = $(`<div id="html_fbebedd1fb744389902860f1c10dadca" style="width: 100.0%; height: 100.0%;">FRUŠKOGORSKA - NARODNOG FRONTA</div>`)[0];
            popup_ba10975a5a024a6e9c0d7c418733df2d.setContent(html_fbebedd1fb744389902860f1c10dadca);
        

        marker_58527b4aa4f54e1a879ad4eb935019ef.bindPopup(popup_ba10975a5a024a6e9c0d7c418733df2d)
        ;

        
    
    
            marker_58527b4aa4f54e1a879ad4eb935019ef.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a184a661be74658bb42d6737bb46fd0 = L.marker(
                [45.2386999087, 19.84777609],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_025e1e4d3a6447ef8bc1ad19f3b62294 = L.popup({"maxWidth": "100%"});

        
            var html_b6b7b8238d204ed2850cd0cf22ff9cf0 = $(`<div id="html_b6b7b8238d204ed2850cd0cf22ff9cf0" style="width: 100.0%; height: 100.0%;">ŠTRAND - OKRETNICA</div>`)[0];
            popup_025e1e4d3a6447ef8bc1ad19f3b62294.setContent(html_b6b7b8238d204ed2850cd0cf22ff9cf0);
        

        marker_7a184a661be74658bb42d6737bb46fd0.bindPopup(popup_025e1e4d3a6447ef8bc1ad19f3b62294)
        ;

        
    
    
            marker_7a184a661be74658bb42d6737bb46fd0.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_71d253035e7d4a5cb7501480fe663737 = L.marker(
                [45.3025717506, 19.8247023774],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_036bd24123e34a9a89ab06ad66bca289 = L.popup({"maxWidth": "100%"});

        
            var html_de7e4180b8d046af85e52d403dd5b9cf = $(`<div id="html_de7e4180b8d046af85e52d403dd5b9cf" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - ZMAJEVAČKI PUT</div>`)[0];
            popup_036bd24123e34a9a89ab06ad66bca289.setContent(html_de7e4180b8d046af85e52d403dd5b9cf);
        

        marker_71d253035e7d4a5cb7501480fe663737.bindPopup(popup_036bd24123e34a9a89ab06ad66bca289)
        ;

        
    
    
            marker_71d253035e7d4a5cb7501480fe663737.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_23d2d3167bd5434682540c7545a2678f = L.marker(
                [45.2997652739, 19.8226695053],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_642ac95531c04ad4b3d07c27b1e007b7 = L.popup({"maxWidth": "100%"});

        
            var html_23c5c581692b4d1388d5b55b9176c63f = $(`<div id="html_23c5c581692b4d1388d5b55b9176c63f" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - SAVSKA</div>`)[0];
            popup_642ac95531c04ad4b3d07c27b1e007b7.setContent(html_23c5c581692b4d1388d5b55b9176c63f);
        

        marker_23d2d3167bd5434682540c7545a2678f.bindPopup(popup_642ac95531c04ad4b3d07c27b1e007b7)
        ;

        
    
    
            marker_23d2d3167bd5434682540c7545a2678f.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_739868a5fbe24080ab35819a55c871d0 = L.marker(
                [45.295793932, 19.8223251106],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_198507ce19554040b0b09ed2208c694a = L.popup({"maxWidth": "100%"});

        
            var html_52c6b068536744cd8ca99f3db0820e98 = $(`<div id="html_52c6b068536744cd8ca99f3db0820e98" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - VELEBITSKA</div>`)[0];
            popup_198507ce19554040b0b09ed2208c694a.setContent(html_52c6b068536744cd8ca99f3db0820e98);
        

        marker_739868a5fbe24080ab35819a55c871d0.bindPopup(popup_198507ce19554040b0b09ed2208c694a)
        ;

        
    
    
            marker_739868a5fbe24080ab35819a55c871d0.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_985a325971c2456eb54e86c24adbe77e = L.marker(
                [45.2916390663, 19.8237880279],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_911d95ad4bdb4b46980df73a9a287cc5 = L.popup({"maxWidth": "100%"});

        
            var html_6092a76aba3c4aef8bc62dba0cde9445 = $(`<div id="html_6092a76aba3c4aef8bc62dba0cde9445" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - ZELENGORSKA</div>`)[0];
            popup_911d95ad4bdb4b46980df73a9a287cc5.setContent(html_6092a76aba3c4aef8bc62dba0cde9445);
        

        marker_985a325971c2456eb54e86c24adbe77e.bindPopup(popup_911d95ad4bdb4b46980df73a9a287cc5)
        ;

        
    
    
            marker_985a325971c2456eb54e86c24adbe77e.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59f422637809410b972cf99509d80bd9 = L.marker(
                [45.2888681125, 19.8247619009],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_d435f8f56fb44e0ca56b99b768072d2f = L.popup({"maxWidth": "100%"});

        
            var html_0bf940f1ec2d4c2c91cb3dfd68ec142b = $(`<div id="html_0bf940f1ec2d4c2c91cb3dfd68ec142b" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - DOLINSKA</div>`)[0];
            popup_d435f8f56fb44e0ca56b99b768072d2f.setContent(html_0bf940f1ec2d4c2c91cb3dfd68ec142b);
        

        marker_59f422637809410b972cf99509d80bd9.bindPopup(popup_d435f8f56fb44e0ca56b99b768072d2f)
        ;

        
    
    
            marker_59f422637809410b972cf99509d80bd9.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6baaafc9da1d42b88275fce6c08af4bf = L.marker(
                [45.28628095, 19.8256640401],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_f2d4037fe6844f70b1d2b3fcee5d3ed9 = L.popup({"maxWidth": "100%"});

        
            var html_ddfd19fc52f741fba7a1e83e83c90e1e = $(`<div id="html_ddfd19fc52f741fba7a1e83e83c90e1e" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - OTOKARA KERŠOVANIJA</div>`)[0];
            popup_f2d4037fe6844f70b1d2b3fcee5d3ed9.setContent(html_ddfd19fc52f741fba7a1e83e83c90e1e);
        

        marker_6baaafc9da1d42b88275fce6c08af4bf.bindPopup(popup_f2d4037fe6844f70b1d2b3fcee5d3ed9)
        ;

        
    
    
            marker_6baaafc9da1d42b88275fce6c08af4bf.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e2847dc252c415eb36e08ccf6788ad1 = L.marker(
                [45.2828585422, 19.8268347377],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_95207998301d4f57812e444876f4278f = L.popup({"maxWidth": "100%"});

        
            var html_cb3452e37e084ad0a638b0e9983a2777 = $(`<div id="html_cb3452e37e084ad0a638b0e9983a2777" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - MOST KANAL DTD</div>`)[0];
            popup_95207998301d4f57812e444876f4278f.setContent(html_cb3452e37e084ad0a638b0e9983a2777);
        

        marker_3e2847dc252c415eb36e08ccf6788ad1.bindPopup(popup_95207998301d4f57812e444876f4278f)
        ;

        
    
    
            marker_3e2847dc252c415eb36e08ccf6788ad1.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_22477830fc1c43d281b6b27db533fc38 = L.marker(
                [45.2713036839, 19.8308548777],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_ce342949ba6e4ea6899ae0193f45cf5e = L.popup({"maxWidth": "100%"});

        
            var html_ef398e75b05f4d11bf5a93b0b827d056 = $(`<div id="html_ef398e75b05f4d11bf5a93b0b827d056" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - BENZINSKA PUMPA</div>`)[0];
            popup_ce342949ba6e4ea6899ae0193f45cf5e.setContent(html_ef398e75b05f4d11bf5a93b0b827d056);
        

        marker_22477830fc1c43d281b6b27db533fc38.bindPopup(popup_ce342949ba6e4ea6899ae0193f45cf5e)
        ;

        
    
    
            marker_22477830fc1c43d281b6b27db533fc38.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51a484c9b803470794be865f121ab0e8 = L.marker(
                [45.2656954001, 19.8354809218],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_062e0595ae7e47198e15c71e5cb15208 = L.popup({"maxWidth": "100%"});

        
            var html_07b7116a950547bf9211ffd78d7dc99a = $(`<div id="html_07b7116a950547bf9211ffd78d7dc99a" style="width: 100.0%; height: 100.0%;">KISAČKA - BUL. JAŠE TOMIĆA</div>`)[0];
            popup_062e0595ae7e47198e15c71e5cb15208.setContent(html_07b7116a950547bf9211ffd78d7dc99a);
        

        marker_51a484c9b803470794be865f121ab0e8.bindPopup(popup_062e0595ae7e47198e15c71e5cb15208)
        ;

        
    
    
            marker_51a484c9b803470794be865f121ab0e8.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2caea9cd7bff444488ebda85bbdb6ce8 = L.marker(
                [45.2623699914, 19.8401023551],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_4174ea8a2ad64b5788fbf5fd1313eb41 = L.popup({"maxWidth": "100%"});

        
            var html_de0018977c01434790897e0796f2c0f3 = $(`<div id="html_de0018977c01434790897e0796f2c0f3" style="width: 100.0%; height: 100.0%;">KISAČKA - BUL. KRALJA PETRA I</div>`)[0];
            popup_4174ea8a2ad64b5788fbf5fd1313eb41.setContent(html_de0018977c01434790897e0796f2c0f3);
        

        marker_2caea9cd7bff444488ebda85bbdb6ce8.bindPopup(popup_4174ea8a2ad64b5788fbf5fd1313eb41)
        ;

        
    
    
            marker_2caea9cd7bff444488ebda85bbdb6ce8.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc0e7515d1b148fb983411d9bcf38cc7 = L.marker(
                [45.2609612857, 19.8420940143],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_e8563633d18f453ca687fcc0b23aefbc = L.popup({"maxWidth": "100%"});

        
            var html_c65572b74e714aedabc38e846387ae28 = $(`<div id="html_c65572b74e714aedabc38e846387ae28" style="width: 100.0%; height: 100.0%;">KISAČKA - VUKA KARADŽIĆA</div>`)[0];
            popup_e8563633d18f453ca687fcc0b23aefbc.setContent(html_c65572b74e714aedabc38e846387ae28);
        

        marker_cc0e7515d1b148fb983411d9bcf38cc7.bindPopup(popup_e8563633d18f453ca687fcc0b23aefbc)
        ;

        
    
    
            marker_cc0e7515d1b148fb983411d9bcf38cc7.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c4b09f7b6e24a6bbd965dd99e9b55d1 = L.marker(
                [45.2687779267, 19.8317437287],
                {}
            ).addTo(map_52de8f256adf436699ccb9b22ec2f97b);
        
    
        var popup_1171d4f9d7a042ee8cc447d6f2f3ca27 = L.popup({"maxWidth": "100%"});

        
            var html_fc04927821a34ea8bcc5c911d29d80f9 = $(`<div id="html_fc04927821a34ea8bcc5c911d29d80f9" style="width: 100.0%; height: 100.0%;">SENTANDREJSKI PUT - PARTIZANSKA</div>`)[0];
            popup_1171d4f9d7a042ee8cc447d6f2f3ca27.setContent(html_fc04927821a34ea8bcc5c911d29d80f9);
        

        marker_3c4b09f7b6e24a6bbd965dd99e9b55d1.bindPopup(popup_1171d4f9d7a042ee8cc447d6f2f3ca27)
        ;

        
    
    
            marker_3c4b09f7b6e24a6bbd965dd99e9b55d1.bindTooltip(
                `<div>
                     Click For more Info
                 </div>`,
                {"sticky": true}
            );
        
</script>